extends header

block content
	.well
		.row
			.col-md-12
				H3= msg.subject
		.row
			.col-md-6
				Strong
					|From:&nbsp;
				|#{msg.sender}
				br
				br
				Strong
					|Subject:&nbsp;
				|#{msg.subject}
				br
				br
				Strong
					|Message:&nbsp;
				|#{msg.body}
				br
				br
				form(action="/message",method="get",class="form-horizontal")
					.form-group
						div(class="col-sm-offset-3 col-sm-8")
							.btn-toolbar
								button(type="submit",class="btn btn-success custom-button-width")
									|Reply
